@charset "'uft-8'";
* {margin: 0px; padding: 0px;}

body {background-image: url(../../imagens/fundo-madeira.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;}


div {background-color: white; width: 230px;}
div > img {width: 230px;}


nav {text-align: right; width: 150px;}
nav > a > img {width: 70px; border-radius: 50%; box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.664); margin-bottom: 20px;}